@charset "utf-8";

/** {*/
    /*font-family: "Avenir Next", Helvetica, Arial, "Lantinghei SC", "Microsoft YaHei", sans-serif;*/
/*}*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


#particle-ground {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    z-index: -1;
    background-color: #fafafa;
}

#main {
    top: 50px;
    position: relative;
    min-height: 100%;
}

/*link*/
a {
    color: black;
}

a:hover {
    color: red;
    text-decoration: none;
}

a:active {
    color: red;
}


.profile-thumbnail {
    position: absolute;
}

.profile-header {
    min-height: 260px;
    margin-left: 280px;
}

/*post*/
ul.posts {
    margin: 16px 0 0 0;
    padding: 0;
    list-style-type: none;
}

ul.posts li.post {
    padding: 8px;
}

.post-widget {
    margin: 20px 0 20px 0;
    border-radius: 4px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
}

ul.posts li.post:hover {
    background-color: #f0f0f0;
}

div.post-date {
    float: right;
}

div.post-author {
    font-weight: bold;
}

div.post-thumbnail {
    position: absolute;
}

div.post-content {
    min-height: 48px;
    margin-left: 48px;
}

div.post-footer {
    text-align: right;
}

div.post-tabs {
    margin-top: 16px;
    padding-right: 25px;
}

.post-body h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 140%;
}

.post-body h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 130%;
}

.post-body h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 120%;
}

div.edit-post {
    margin: 10px 0 20px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

/*pagination*/
div.pagination {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

/*markdown*/
div.flask-pagedown-preview {
    margin: 10px 0 10px 0;
    padding: 0 4px 0 4px;
    border: 1px solid #e0e0e0;
}

div.flask-pagedown-preview h1 {
    font-size: 140%;
}

div.flask-pagedown-preview h2 {
    font-size: 130%;
}

div.flask-pagedown-preview h3 {
    font-size: 120%;
}


.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}

/*comment*/
.comment-widget {
    margin: 20px 0 20px 0;
    border-radius: 4px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
}

ul.comments {
    margin: 16px 0 0 0;
    padding: 0;
    list-style-type: none;
}

ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}

ul.comments li.comment:hover {
    background-color: #f0f0f0;
}

div.comment-date {
    float: right;
}

div.comment-author {
    font-weight: bold;
}

div.comment-thumbnail {
    position: absolute;
}

div.comment-content {
    min-height: 48px;
    margin-left: 48px;
}

div.comment-form {
    margin: 16px 0 16px 32px;
}

/*footer*/
.footer {
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-top: 50px;
    padding-bottom: 0;
    clear: both;
	background: #EDEFF1;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}

.footer p {
	margin: 0;
}

.footer img {
	max-width: 100%;
}

.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	text-transform: uppercase;
}

.footer ul {
    margin-left: 0;
	padding-left: 0;
	font-size: 13px;
	list-style-type: none;
	color: #7F8C8D;
}

.footer ul li a {
    display: block;
	padding: 0 0 5px 0;
}

.footer a {
	color: #78828D
}

.supportLi h4 {
    margin-bottom: 0 !important;
	padding-bottom: 0;
	font-size: 16px;
	font-weight: lighter;
	line-height: normal;
}

.social li {
    float: left;
    height: 40px;
    width: 40px;
    margin: 8px 2px 0 2px;
    padding: 0;
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
    line-height: 40px;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}

.social li a {
	color: #EDEFF1;
}

.social li:hover {
    background: #2c3e50;
	border: 2px solid #2c3e50;
}

.social li a i {
    margin: 0 0 0 5px;
	font-size: 16px;
	color: #EDEFF1 !important;
}

.footer-bottom {
    height: 50px;
    margin-top: 0;
    background: #222222;
    color: #f5f5f5;
    text-align: center !important;
    line-height: 40px;
}

/*side widget*/
#my-avatar {
    margin-top: 20px;
    max-width: 100%;
    border-radius: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.side-widget {
    margin-top: 20px;
    border-radius: 4px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
}

.side-widget .widget-heading {
    min-height: 36px;
    margin: 0;
    padding-left: 15px;
    border-radius: 4px 4px 0 0;
    background-color: rgba(0,0,0,0.3);
    line-height: 36px;
    font-size: 16px;
    color: white;
    text-shadow: black 2px 2px 2px;
}

.side-widget .widget-body {
    padding: 10px;
    font-size: 13px;
    font-weight: 300;
}

.side-widget .signature {
    padding: 20px;
    text-align: center;
    color: #9c9c9c;
}

.widget-body ul {
    padding-left: 10px;
    list-style: none;
}

.widget-body ul li {
     margin: 4px;
}

/*button*/
.btn-custom {
    padding: 4px 6px;
    color: white;
}

.btn-custom:hover {
    color: black;
}

/*label*/
.label-post-tag-1 {
    background-color: #428bca;
}

.label-post-tag-2 {
    background-color: #5cb85c;
}

.label-post-tag-3 {
    background-color: #f0ad4e;
}

.label-post-tag-4 {
    background-color: #5bc0de;
}

.label-post-tag-5 {
    background-color: #d9534f;
}

.label-post-tag-6 {
    background-color: #999999;
}
