@charset "utf-8";

html, body {
    /*height: 100vh;*/
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    padding-bottom: 90px;
}

.container {
    min-height: 100%;
    position: relative;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #039be5;
    text-decoration: none;
}

a:active {
    color: #039be5;
}

.label {
	font-size: 14px;
}

.profile-thumbnail {
    position: absolute;
}

.profile-header {
    min-height: 260px;
    margin-left: 280px;
}

ul.posts {
    list-style-type: none;
    padding: 0;
    margin: 16px 0 0 0;
    border-top: 1px solid #e0e0e0;
}

ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0
}

ul.posts li.post:hover {
    background-color: #f0f0f0;
}

div.post-date {
    float: right;
}

div.post-author {
    font-weight: bold;
}

div.post-thumbnail {
    position: absolute;
}

div.post-content {
    margin-left: 48px;
    min-height: 48px;
}

div.post-footer {
    text-align: right;
}

div.post-tabs {
    margin-top: 16px;
}

div.pagination {
    width: 100%;
    text-align: right;
    padding: 0;
    margin: 0;
}

div.flask-pagedown-preview {
    margin: 10px 0 10px 0;
    border: 1px solid #e0e0e0;
    padding: 4px;
}

div.flask-pagedown-preview h1 {
    font-size: 140%;
}

div.flask-pagedown-preview h2 {
    font-size: 130%;
}

div.flask-pagedown-preview h3 {
    font-size: 120%;
}

.post-body h1 {
    font-size: 140%;
}

.post-body h2 {
    font-size: 130%;
}

.post-body h3 {
    font-size: 120%;
}

.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}

ul.comments {
    list-style-type: none;
    padding: 0;
    margin: 16px 0 0 0;
}

ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}

ul.comments li.comment:hover {
    background-color: #f0f0f0;
}

div.comment-date {
    float: right;
}

div.comment-author {
    font-weight: bold;
}

div.comment-thumbnail {
    position: absolute;
}

div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}

div.comment-form {
    margin: 16px 0 16px 32px;
}

div.edit-post {
    padding: 0 0 10px 0;
    margin: 10px 0 20px 0;
    border-bottom: 1px solid #e0e0e0;
}


.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    /*height: 100px;*/
    clear: both;
	background: #EDEFF1;
	padding-bottom: 0;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}

.footer p {
	margin: 0;
}

.footer img {
	max-width: 100%;
}

.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	text-transform: uppercase;
}

.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	color: #7F8C8D;
}

.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}

.footer a {
	color: #78828D
}

.supportLi h4 {
	font-size: 16px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}

.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 40px;
	line-height: 40px;
	margin: 4px 8px 4px 0;
	padding: 0;
	text-align: center;
	width: 40px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}

.social li a {
	color: #EDEFF1;
}

.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}

.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}

.footer-bottom {
    margin-top: 0;
    height: 50px;
    background: #222222;
    color: #f5f5f5;
    text-align: center !important;
    line-height: 40px;
}
