<p>{{ gettext('Dear') }} {{ user.username }},</p>

<p>{{ gettext('To confirm your new email address please') }}
    <a href="{{ url_for('auth.change_email', token=token, _external=True) }}">
        {{ gettext('click here') }}
    </a>.
</p>

<p>{{ gettext('Alternatively, you can paste the following link in your browser\'s address bar') }}:</p>
<p>&emsp;{{ url_for('auth.change_email', token=token, _external=True) }}</p>

<p>{{ gettext('Sincerely') }},</p>
<p>{{ gettext('The FlaskFB Team') }}</p>

<p>
    <small>{{ gettext('Note: replies to this email address are not monitored') }}.</small>
</p>