<p>{{ gettext('Dear') }} {{ user.username }},</p>

<p>{{ gettext('Welcome to') }} <b>Papaya</b>!</p>

<p>{{ gettext('To confirm your account please') }}
  <a href="{{ url_for('auth.confirm', token=token, _external=True) }}">
    {{ gettext('click here') }}
  </a>.
</p>

<p>{{ gettext('Alternatively, you can paste the following link in your browser\'s address bar') }}:</p>
<p>&emsp;{{ url_for('auth.confirm', token=token, _external=True) }}</p>

<p>{{ gettext('Sincerely') }},</p>
<p>{{ gettext('The Papaya Team') }}</p>

<p>
  <small>{{ gettext('Note: replies to this email address are not monitored') }}.</small>
</p>