{% macro pagination_widget(pagination, endpoint, category_name='', tag_name='', fragment='') %}

<!-- 分页 -->
<ul class="pagination">
    <li {% if not pagination.has_prev %} class="disabled" {% endif %}>
        <a href="
            {% if pagination.has_prev %}
                {% if category_name %}
                    {{ url_for(endpoint, category_name=category_name, page=pagination.page-1) }}
                {% elif tag_name %}
                    {{ url_for(endpoint, tag_name=tag_name, page=pagination.page-1) }}
                {% else %}
                    {{ url_for(endpoint, page=pagination.page-1) }}
                {% endif %}
            {% else %}
                #
            {% endif %}">
            &laquo;
        </a>
    </li>

    {% for page in pagination.iter_pages() %}
        {% if page %}
            {% if page == pagination.page %}
            <li class="active">
                <a href="
                    {% if category_name %}
                        {{ url_for(endpoint, category_name=category_name, page=page) }}
                    {% elif tag_name %}
                        {{ url_for(endpoint, tag_name=tag_name, page=page) }}
                    {% else %}
                        {{ url_for(endpoint, page=page) }}
                    {% endif %}">{{ page }}</a>
            </li>
            {% else %}
            <li>
                <a href="
                    {% if category_name %}
                        {{ url_for(endpoint, category_name=category_name, page=page) }}
                    {% elif tag_name %}
                        {{ url_for(endpoint, tag_name=tag_name, page=page) }}
                    {% else %}
                        {{ url_for(endpoint, page=page) }}
                    {% endif %}">{{ page }}</a>
            </li>
            {% endif %}
        {% else %}
        <li class="disabled"><a href="#">&hellip;</a></li>
        {% endif %}
    {% endfor %}

    <li {% if not pagination.has_next %}class="disabled"{% endif %}>
        <a href="
            {% if pagination.has_next %}
                {% if category_name %}
                    {{ url_for(endpoint, category_name=category_name, page=pagination.page+1) }}
                {% elif tag_name %}
                    {{ url_for(endpoint, tag_name=tag_name, page=pagination.page+1) }}
                {% else %}
                    {{ url_for(endpoint, page=pagination.page+1) }}
                {% endif %}
            {% else %}
                #
            {% endif %}">
            &raquo;
        </a>
    </li>
</ul>

{% endmacro %}