<!-- 文章列表 -->
<ul class="posts">
    {% for post in posts %}
    <li class="post post-widget">
        <div class="post-thumbnail">
            <a href="{{ url_for('.user', username=post.author.username) }}">
                <img class="img-rounded profile-thumbnail"
                     src="{{ post.author.get_avatar(size=40) }}">
            </a>
        </div>

        <div class="post-content">
            <div class="post-date">
                <span class="glyphicon glyphicon-calendar"></span>
                {{ moment(post.create_timestamp).format('YYYY-MM-DD') }}
            </div>
            <div class="post-author">
                <a href="{{ url_for('.user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
            </div>
            <div class="post-tabs">
                {% if post.title %}
                <h4><a  href="{{ url_for('.post', id=post.id) }}">{{ post.title }}</a></h4>
                {% endif %}
            </div>

            {% if show_post_body %}
            <div class="post-body">
                {% if post.body_html %}
                    <!--"| safe" 通知 jinja2 不要转义 HTML 元素-->
                    {{ post.body_html | safe }}
                {% else %}
                    {{ post.body }}
                {% endif %}
            </div>
            {% endif %}

            <div class="post-footer">
                {% if current_user == post.author %}
                <a href="{{ url_for('.edit_post', id=post.id) }}" class="btn btn-primary btn-custom">
                    {{ gettext('Edit') }}
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('.edit_post', id=post.id) }}" class="btn btn-danger btn-custom">
                    {{ gettext('Edit [Admin]') }}
                </a>
                {% endif %}
                <a href="{{ url_for('.post', id=post.id) }}" class="btn btn-info btn-custom">
                    {{ gettext('Read more') }}
                </a>
                <!--<a href="{{ url_for('.post', id=post.id) }}#comments">-->
                    <!--<span class="label label-primary">-->
                        <!--{{ post.comments.count() }} {{ gettext('Comments') }}-->
                    <!--</span>-->
                <!--</a>-->
            </div>
        </div>
    </li>
    {% endfor %}
</ul>