<!-- 文章列表 -->
<ul class="posts">
    {% for post in posts %}
    <li class="post post-widget">
        <div class="post-thumbnail">
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                <img class="img-rounded profile-thumbnail"
                     src="{{ post.author.get_avatar(size=40) }}">
            </a>
        </div>

        <div class="post-content">
                <span class="btn post-category">
                    {% set category_name = post.get_category_name() %}
                    <a href="{{ url_for('main.category', category_name=category_name) }}">
                        {{ category_name }}
                    </a>
                </span>
            <div class="post-author">
                <a href="{{ url_for('main.user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
            </div>

            <div class="post-title">
                {% if post.title %}
                <h4><a  href="{{ url_for('main.post', id=post.id) }}">{{ post.title }}</a></h4>
                {% endif %}
            </div>

            <div class="post-info">
                <span>
                    <span class="glyphicon glyphicon-calendar"></span>
                    {{ moment(post.create_timestamp).format('YYYY-MM-DD') }}
                </span>
                <span>
                    <span class="glyphicon glyphicon-comment"></span>
                    {{ post.comments.count() }}
                </span>
                <div class="post-tags">
                    {% if post.tags %}
                        {% for i, tag in enumerate(post.get_tags()) %}
                            <a href="{{ url_for('main.tag', tag_name=tag) }}">
                                <span class="btn-xs btn-custom btn-post-tag-{{ i % 6 }}">{{ tag }}</span>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            {% if show_post_body %}
            <div class="post-body">
                {% if post.body_html %}
                    <!--"| safe" 通知 jinja2 不要转义 HTML 元素-->
                    {{ post.body_html | safe }}
                {% else %}
                    {{ post.body }}
                {% endif %}
            </div>
            {% endif %}

            <div class="post-footer hidden-xs">
                {% if current_user == post.author %}
                <a href="{{ url_for('main.edit_post', id=post.id) }}" class="btn btn-primary btn-custom">
                    {{ gettext('Edit') }}
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('main.edit_post', id=post.id) }}" class="btn btn-danger btn-custom">
                    {{ gettext('Edit [Admin]') }}
                </a>
                {% endif %}
                <a href="{{ url_for('main.post', id=post.id) }}" class="btn btn-info btn-custom">
                    {{ gettext('Read more') }}
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>