{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}

{% block metas %}
    <meta charset="utf-8">
    <meta name="description" content="求工作啊 ԅ(¯﹃¯ԅ)">
    <meta name="keywords" content="Blog, 博客, Python, Flask, Bootstrap">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
{% endblock metas %}

{% block styles %}
<link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/csshake.min.css') }}">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
{% endblock styles %}
{% endblock head %}

{% block navbar %}
<!-- 导航栏 -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand shake-slow" href="{{ url_for('main.index') }}">FlaskFB</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ url_for('main.index') }}">
                        <span class="glyphicon glyphicon-home"></span>
                        {{ gettext('Home') }}
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('main.show_all_posts') }}">
                        <span class="glyphicon glyphicon-globe"></span>
                        {{ gettext('All Post') }}
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('main.show_followed_posts') }}">
                        <span class="glyphicon glyphicon-star"></span>
                        {{ gettext('Followed Post') }}
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('main.publish_post') }}">
                        <span class="glyphicon glyphicon-pencil"></span>
                        {{ gettext('Publish Post') }}
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('main.about') }}">
                        <span class="glyphicon glyphicon-asterisk"></span>
                        {{ gettext('About') }}
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                <li>
                    <a href="{{ url_for('main.moderate') }}">
                        {{ gettext('Moderate Comments') }}
                    </a>
                </li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{ gettext('Account') }} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% if current_user.is_authenticated %}
                        <li>
                            <a href="{{ url_for('main.user', username=current_user.username) }}">
                                <span class="glyphicon glyphicon-user"></span>
                                {{ gettext('Profile') }}
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{{ url_for('auth.change_password') }}">
                                <span class="glyphicon glyphicon-lock"></span>
                                {{ gettext('Change Password') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('auth.change_email_request') }}">
                                <span class="glyphicon glyphicon-envelope"></span>
                                {{ gettext('Change Email') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('auth.logout') }}">
                                <span class="glyphicon glyphicon-off"></span>
                                {{ gettext('Log Out') }}
                            </a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li>
                    <a href="{{ url_for('auth.login') }}">
                        {{ gettext('Log In') }}
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock navbar %}

{% block content %}
<!--<div id="particle-ground"></div>-->

<div id="main">
    <div class="container">
        <!-- 警告信息显示框 -->
        {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ message[0] }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message[1] }}
        </div>
        {% endfor %}

        {% block page_content %}
        {% endblock page_content %}
    </div>
</div>

<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <h3>随便写些东西占个位置</h3>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <ul class="social">
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://weibo.com/" target="_blank">
                                <i class="fa fa-weibo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/KaijianYou" target="_blank">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <p>Copyright © FlaskFB 2017. 基于 Flask 和 Bootstrap 3. 完善中</p>
        </div>
    </div>
</footer>
{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery-3.2.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment-with-locales.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/particleground.all.js') }}"></script>
<script src="{{ url_for('static', filename='js/particle.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.particleground.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3.layout.cloud.js') }}"></script>
{{ moment.include_moment() }}
{{ moment.lang("zh-CN") }}
<script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}

    // particle.js
    new Particleground.particle('#particle-ground');

    // flash message box
    $(".alert").fadeTo(3000, 500).slideUp(500, function() {
        $(".alert").slideUp(500);
    });

    $(function() {
//        $.getJSON($SCRIPT_ROOT + '/_get_tags_string', {
//
//        }, function(data) {
//            words[0] = data;
//            console.log('---');
//            console.log(words[0]);
//        });
//        return false;
    });

    var words = [];
    $.ajax({
        type: "GET",
        url: $SCRIPT_ROOT + "/_get_tags_string",
        async: false,
        dataType: "text",
        success: function(data, textStatus) {
            words[0] = data;
            console.log(words[0]);
        }
    });

    // d3.js word cloud
    function wordCloud(selector) {
        var fill = d3.scale.category10();

        // Construct the word cloud's SVG element
        var svg = d3.select(selector).append("svg")
                .attr("width", 200)
                .attr("height", 200)
                .append("g")
                .attr("transform", "translate(100,100)");


        // Draw the word cloud
        function draw(words) {
            var cloud = svg.selectAll("g text").data(words, function(d) {
                return d.text;
            });

            // Entering words
            cloud.enter()
                .append("text")
                .style("font-family", "Impact")
                .style("fill", function(d, i) { return fill(i); })
                .attr("text-anchor", "middle")
                .attr('font-size', 1)
                .text(function(d) { return d.text; });

            // Entering and existing words
            cloud.transition()
                .duration(500)
                .style("font-size", function(d) { return d.size + "px"; })
                .attr("transform", function(d) {
                    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                })
                .style("fill-opacity", 1);

            // Exiting words
            cloud.exit()
                .transition()
                .duration(200)
                .style('fill-opacity', 1e-6)
                .attr('font-size', 1)
                .remove();
        }

        // Use the module pattern to encapsulate the visualisation code. We'll
        // expose only the parts that need to be public.
        return {
            // Recompute the word cloud for a new set of words. This method will
            // asycnhronously call draw when the layout has been computed.
            // The outside world will need to call this function, so make it part
            // of the wordCloud return value.
            update: function(words) {
                d3.layout.cloud().size([200, 200])
                    .words(words)
                    .padding(0)
                    .rotate(function() { return ~~(Math.random() * 2) * 90; })
                    .font("Impact")
                    .fontSize(function(d) { return d.size / 1.5; })
                    .on("end", draw)
                    .start();
            }
        }
    }

    // Prepare one of the sample sentences by removing punctuation,
    // creating an array of words and computing a random size attribute.
    function getWords(i) {
        return words[i]
                .replace(/[!\.,:;\?]/g, '')
                .split(' ')
                .map(function(d) {
                    return { text: d, size: 15 + Math.random() * 20 };
                });
    }

    // Create a new instance of the word cloud visualisation.
    var myWordCloud = wordCloud('div.tag-cloud');

    // This method tells the word cloud to redraw with a new set of words.
    // In reality the new words would probably come from a server request,
    // user input or some other source.
    function showNewWords(vis, i) {
        i = i || 0;
        vis.update(getWords(i++ % words.length));
        setTimeout(function() { showNewWords(vis, i + 1); }, 3000);
    }

    // Start cycling through the demo data
    showNewWords(myWordCloud);
</script>
{% endblock scripts %}