{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_paginate_macro.html" as paginate_macro %}

{% block title %}FlaskFB{% endblock title %}

{% block page_content %}
<div class="page-header">
    <h1>{{ gettext('Hello') }},
    {% if current_user.is_authenticated %}
        {{ current_user.username }}
    {% else %}
        {{ gettext('Stranger') }}
    {% endif %}
    </h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <div class="post-tabs">
                <ul class="nav nav-tabs">
                    <li {% if not show_followed_posts %} class="active" {% endif %}>
                        <a href="{{ url_for('.show_all_posts') }}">{{ gettext('All') }}</a>
                    </li>
                    <!-- TODO 热门话题 -->
                    <li>
                        <a href="#">{{ gettext('hot') }}</a>
                    </li>
                    <li {% if show_followed_posts %} class="active" {% endif %}>
                        <a href="{{ url_for('.show_followed_posts') }}">{{ gettext('Follow') }}</a>
                    </li>
                </ul>

                {% include '_posts.html' %}

                <div class="pagination">
                    {{ paginate_macro.pagination_widget(pagination, '.index') }}
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 side">
                    <h4>Noahsss</h4>
                    <img id="my-avatar" src="{{ url_for('static', filename='image/avatar.jpg') }}" />
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 side">
                    <h4>分类</h4>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 side">
                    <h4>标签</h4>
                    <hr/>
                </div>
            </div>
            <!--TODO-->
            <!--<div class="row">-->
                <!--<div class="col-lg-12 col-md-12 col-sm-12 side">-->
                    <!--<h4>日历</h4>-->
                    <!--<hr/>-->
                <!--</div>-->
            <!--</div>-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 side">
                    <h4>功能</h4>
                    <p><a href="{{ url_for('auth.login') }}">{{ gettext('Log In') }}</a></p>
                    <!-- TODO -->
                    <!--<p>RSS</p>-->
                    <hr/>
                </div>
            </div>
            <!-- TODO -->
            <!--<div class="row">-->
                <!--<hr/>-->
                <!--<div class="col-lg-12 col-md-12 col-sm-12 side">-->
                    <!--<h4>统计</h4>-->
                    <!--<p>今日访问数 ()</p>-->
                    <!--<p>总访问数 ()</p>-->
                    <!--<p>文章数 ()</p>-->
                    <!--<hr/>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>

{% endblock page_content %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock scripts %}}