{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_paginate_macro.html" as paginate_macro %}

{% block title %}FlaskFB{% endblock title %}

{% block page_content %}
<div class="page-header">
    <h2>{{ gettext('Hello') }},
    {% if current_user.is_authenticated %}
        {{ current_user.username }}
    {% else %}
        {{ gettext('Stranger') }}
    {% endif %}
    </h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <div class="post-tabs">
                {% include '_posts.html' %}

                <div class="pagination">
                    {{ paginate_macro.pagination_widget(pagination, endpoint,
                        category_name=category_name, tag_name=tag_name) }}
                </div>
            </div>
        </div>

        <!-- 侧边栏 -->
        <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
            <div class="side-widget">
                <div class="signature">
                    <img id="my-avatar" src="{{ url_for('static', filename='image/avatar.jpg') }}"
                         alt="noahsss" title="noahsss"/>
                </div>
                <div class="widget-body" style="text-align: center;">
                    <p>大家，上午好，下午好，晚上好</p>
                </div>
            </div>

            <div class="side-widget">
                <div class="widget-heading">{{ gettext('Categories') }}</div>
                <div class="widget-body">
                    {% if categories_list %}
                    <ul>
                        {% for category in categories_list %}
                        <li>
                            <a href="{{ url_for('main.category', category_name=category[0]) }}">
                                {{ category[0] }} ({{ category[1] }})
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>

            <div class="side-widget">
                <div class="widget-heading">{{ gettext('Tags') }}</div>
                <div class="widget-body">

                </div>
            </div>

            <div class="side-widget">
                <div class="widget-heading">功能</div>
                <div class="widget-body">
                    <ul>
                        <li><a href="{{ url_for('auth.login') }}">{{ gettext('Log In') }}</a></li>
                        <!--TODO-->
                        <!--<li><a href="#">RSS</a></li>-->
                    </ul>
                </div>
            </div>

            <div class="side-widget">
                <div class="widget-heading">统计</div>
                <div class="widget-body">
                    <ul>
                        <li>今日访问数()</li>
                        <li>总访问数()</li>
                        <li>文章总计()</li>
                    </ul>
                </div>
            </div>

            <div class="side-widget">
                <div class="widget-heading">友情链接</div>
                <div class="widget-body">

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock page_content %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock scripts %}}